@{
    Layout = "_Layout2";
    ViewData["Title"] = "Update product";
}
@model ProductUpdateInput
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>eTrade || Checkout</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.png">

    <!-- CSS
    ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="~/assets/css/vendor/flaticon/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="~/assets/css/vendor/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/sal.css">
    <link rel="stylesheet" href="~/assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/vendor/base.css">
    <link rel="stylesheet" href="~/assets/css/style.min.css">

</head>
<body class="sticky-header">
    <a href="#top" class="back-to-top" id="backto-top"><i class="fal fa-arrow-up"></i></a>
    <main class="main-wrapper">

        <!-- Start Checkout Area  -->
        <div class="axil-checkout-area axil-section-gap">
            <div class="container">
                <form  asp-controller="Product" asp-action="Update" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-6">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="axil-checkout-billing">
                                <h4 class="title mb--40">Product details</h4>
                                <div class="row">
                                    <div class="form-group">
                                        <label asp-for="CategoryId">Category <span>*</span></label>
                                        @* <select id="Region">
                                            <option value="3">Australia</option>
                                            <option value="4">England</option>
                                            <option value="6">New Zealand</option>
                                            <option value="5">Switzerland</option>
                                            <option value="1">United Kindom (UK)</option>
                                            <option value="2">United States (USA)</option>
                                        </select> *@
                                        <select id="Region" asp-for="CategoryId" asp-items="@ViewBag.categoryList">
                                            <option value="">Choose product category</option>
                                        </select>
                                        <span class="text-danger" asp-validation-for="CategoryId"></span>
                                    </div>
                                    <div class="form-group" >
                                        <label asp-for="Name">Product Name</label>
                                        <input asp-for="Name" type="text" id="company-name">
                                        <span class="text-danger" asp-validation-for="Name"></span>
                                    </div>
                                    <div class="form-group" >
                                        <label asp-for="Description">Product Description</label>
                                        <input asp-for="Description" type="text" id="company-name">
                                        <span class="text-danger" asp-validation-for="Description"></span>
                                    </div>
                                    <div class="form-group" >
                                        <label asp-for="DisplayPrice">Product Price</label>
                                        <input asp-for="DisplayPrice" type="text" id="company-name">
                                        <span class="text-danger" asp-validation-for="DisplayPrice"></span>
                                    </div>
                                        <label asp-for="PhotoFormFile">Product Image</label>
                                        <input id="imgInp" asp-for="PhotoFormFile" type="file">

                                 </div>
                                <button type="submit" class="axil-btn btn-bg-primary checkout-btn">Add Product</button>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-4">
                            <div class="">
                                <h5 class="title mb--20">Product Image</h5>
                                <img id="blah" src="http://localhost:5012/photos/@Model.Image" width="500px" alt="your image" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Checkout Area  -->

        <!-- JS
============================================ -->
    <!-- Modernizer JS -->
    <script src="~/assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="~/assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/js/vendor/popper.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/assets/js/vendor/slick.min.js"></script>
    <script src="~/assets/js/vendor/js.cookie.js"></script>
    <!-- <script src="~/assets/js/vendor/jquery.style.switcher.js"></script> -->
    <script src="~/assets/js/vendor/jquery-ui.min.js"></script>
    <script src="~/assets/js/vendor/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/vendor/jquery.countdown.min.js"></script>
    <script src="~/assets/js/vendor/sal.js"></script>
    <script src="~/assets/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/vendor/isotope.pkgd.min.js"></script>
    <script src="~/assets/js/vendor/counterup.js"></script>
    <script src="~/assets/js/vendor/waypoints.min.js"></script>
        <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function(){
            readURL(this);
            $('#blah').show();
        });

    </script>
    <script src="~/assets/js/main.js"></script>

    </main>
</body>